#fondo{
    width: 10%;
    height: 200px;
    margin: auto;
    margin-top: 10%;
}

#caja{
    position: relative;
    width: 120px;
    height: 120px;
    background-color: aqua;
    border-radius: 100%;
    margin: auto;
    margin-top: 20%;
}
img{
    position: relative;
    width: 60%;
    height: 60%;
    top:15%;
    left:20%;
}

#fondo:hover>#caja{
    background-color: red;
    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function:ease-out; 
}

#fondo:hover>#caja>a>img{
    width: 120px;
    height: 120px;
    top:0%;
    left: 0%;
    transition: width 5s, height 5s,top 2s, left 2s;
}